body {
	background-color: #935d8c;
	color: rgba(255, 255, 255, 0.65);
}

body, input, select, textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.65;
	/* font: inherit; */
}

#wrapper {
	width: 64em;
	max-width: calc(100% - 4em);
	margin: 0 auto;
}

#nav {
	-moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s
		ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
	-webkit-transition: background-color 0.2s ease, border-top-left-radius
		0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
	-ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s
		ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
	transition: background-color 0.2s ease, border-top-left-radius 0.2s ease,
		border-top-right-radius 0.2s ease, padding 0.2s ease;
	background-color: #ffffff;
	color: #636363;
	position: absolute;
	width: 64em;
	max-width: calc(100% - 4em);
	padding: 1em;
	background-color: #f7f7f7;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	cursor: default;
	text-align: center;
}

ul {
	list-style: disc;
	margin: 0 0 1em 0;
	padding-left: 1em;
}

#nav ul li {
	-moz-transition: margin 0.2s ease;
	-webkit-transition: margin 0.2s ease;
	-ms-transition: margin 0.2s ease;
	transition: margin 0.2s ease;
	display: inline-block;
	margin: 0 0.35em;
	padding: 0;
	vertical-align: middle;
}

#nav ul li a.active {
	background-color: #ffffff;
	box-shadow: none;
}

#nav.alt ul li a {
	font-size: 0.9em;
}

#nav ul li a {
	-moz-transition: font-size 0.2s ease;
	-webkit-transition: font-size 0.2s ease;
	-ms-transition: font-size 0.2s ease;
	transition: font-size 0.2s ease;
	display: inline-block;
	height: 2.25em;
	line-height: 2.25em;
	padding: 0 1.25em;
	border: 0;
	border-radius: 8px;
	box-shadow: inset 0 0 0 1px transparent;
}

a {
	-moz-transition: color 0.2s ease, border-bottom 0.2s ease;
	-webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
	-ms-transition: color 0.2s ease, border-bottom 0.2s ease;
	transition: color 0.2s ease, border-bottom 0.2s ease;
	text-decoration: none;
	border-bottom: dotted 1px;
	color: inherit;
}

#main {
	background-color: #ffffff;
	color: #636363;
	border-radius: 0.25em;
	position: absolute;
	width: 66em;
	max-width: calc(100% - 4em);
	top: 99px;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

.spotlight {
	padding-left: 20px;
	padding-right: 20px;
}

#main header.major h2:after {
	/* background-color: #dddddd; */
	background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	/* background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0); */
	background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

header.major h2:after {
	background-color: rgba(255, 255, 255, 0.35);
}

header.major h2:after {
	display: block;
	content: '';
	width: 14em;
	height: 2px;
	margin: 0 0 1em 0;
	border-radius: 2px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.webTitle {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.65;
	color: #2a83e2;
}

#userInfo {
	width: 100%;
	text-align: center;
	visibility: visible;
	padding-top: 23px;
	padding-bottom: 20px;
}

#userInfo .visibilty-hidden {
	visibility: hidden;
}

.registeration1 {
	width: 61%;
	margin: 13px 0 0 350px;
	display: table;
}

.registeration {
	width: 100%;
	border: solid 1px #ebeef1;
	background: #f9fafb;
	border-radius: 4px;
	display: table;
	height: 100%;
	border-radius: 5px;
}

.h_quote {
	/* width: 100%; */
	margin: 0 200px 0 200px;
}

.h_quote span {
	border-bottom: solid 2px #b6c7d8;
	padding: 0 0 1px 0;
}

.columnDiv {
	display: grid;
	align-items: center;
	grid-template-columns: 30% 70%;
	width: 100%;
}

.registeration h3 {
	padding: 10px 0;
	background-color: #fa774d;
	color: #fff;
	width: 98%;
	margin: 15px auto;
	border-radius: 5px;
}

.textinput {
	height: 58px;
	position: relative;
	width: 100%;
}

.textinput input.filled {
	height: 31px;
	margin: 5px;
	width: 60%;
}

.textinput input[type="text"] {
	text-align: center;
}

.textinput input[type="text"]::placeholder {
	/* Firefox, Chrome, Opera */
	text-align: center;
	padding-left: 5px;
}

.textinput input[type="date"] {
	text-align: center;
}

.textinput input[type="date"]::placeholder {
	/* Firefox, Chrome, Opera */
	text-align: center;
	padding-left: 5px;
}

.msg-error {
	padding-bottom: 15px;
	color: red;
	font-weight: 600;
}

.btnDetails {
	border: none;
	transition: all .3s ease-in-out;
	font-family: "Gotham SSm A", "Gotham SSm B", Arial;
	background: #fa774d !important;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 34px;
	padding: 11px 30px 9px;
	line-height: 24px;
	height: auto;
	display: block;
	margin: 0 auto 21px auto;
	width: 160px;
	min-height: 40px;
}

.btnDetails span {
	align-items: center;
}

span.image img {
	width: 100%;
	border-radius: 5px;
}

.ambassador {
	margin: 5px 5px 5px 5px;
}

h2.resultHeading {
	color: darkslategrey;
	font-family: "Gotham SSm A", "Gotham SSm B", Arial;
}

table.table.table-striped {
	width: 100%;
	padding-bottom: 10px;
}

#qoutes th.th {
	background-color: lightgray;
	font-size: 20px;
}

#qoutes tr.row {
	text-align: center;
	border-bottom: 1pt solid #4e5258;
}

th, td {
	border-bottom: 1px solid #ddd;
}
.btnDetails.configRequest {
	min-height: 20px;
	width: 105px;
}

.heading_configuredRequest {
	margin-top: 5px;
}

.configuredRequest {
	border: solid 2px #ebeef1;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.configureRequest {
	border: solid 5px #ebeef1;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.headerData {
	display: grid;
	grid-template-columns: 40% 60%;
}

.url {
	flex: 1;

	/* width: 52%; */
}

.httpMethodType {
	/* margin-left: 50px; */
	display: inline-flex;
}

.httpMethod {
	display: flex;
	margin-left: 5px;
	width: 41%;
}

.consumes {
	display: flex;
	margin-left: 5px;
}

input#url {
	width: 324px;
	height: 15px;
	border-radius: 5px;
}

span.urlLabel {
	font-weight: 600;
}

.boldLabel {
	font-weight: 600;
}

select.methodType {
	padding: 2px;
	font-size: 12px;
	border-radius: 5px;
	height: 15px;
	margin-top: 3px;
	margin-left: 5px;
}

select.consumeType {
	padding: 2px;
	font-size: 12px;
	border-radius: 5px;
	height: 15px;
	margin-top: 3px;
	margin-left: 5px;
}

.bodyData {
	margin-top: 10px;
}

.authorizationData {
	margin-top: 10px;
}

input#body {
	width: 86%;
	height: 100px;
	border-radius: 5px;
}

input#username {
	width: 139px;
	height: 15px;
	border-radius: 3px;
}

input#password {
	width: 139px;
	height: 15px;
	border-radius: 3px;
}

.btnArea {
	/* right: 0px; */
	left: 744px;
	top: 24px;
	position: relative;
	width: 30%;
}

#restRequest tr th{
	
	font-size:14px;
}

#restRequest tr td{
	
	font-size:11px;
}